knowledge/cloud/azure/json/logic-blob-list.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "inputs": "@json(xml(body('HTTP')))",
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Convert_time_zone": {
                "inputs": {
                    "baseTime": "@{utcNow()}",
                    "destinationTimeZone": "UTC",
                    "formatString": "r",
                    "sourceTimeZone": "UTC"
                },
                "kind": "ConvertTimeZone",
                "runAfter": {},
                "type": "Expression"
            },
            "Filter_array": {
                "inputs": {
                    "from": "@body('Parse_JSON')?['EnumerationResults']?['Blobs']?['Blob']",
                    "where": "@contains(item()?['Name'], 'Sub/')"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "For_each": {
                "actions": {
                    "Compose_2": {
                        "inputs": "@items('For_each')?['Name']",
                        "runAfter": {
                            "HTTP_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose"
                    },
                    "HTTP_2": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://storage.azure.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "headers": {
                                "x-ms-date": "@body('Convert_time_zone')",
                                "x-ms-version": "2020-10-02"
                            },
                            "method": "GET",
                            "uri": "https://wkcnfs.blob.core.windows.net/nfs-disk-space/@{items('For_each')?['Name']}"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "HTTP_3": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://storage.azure.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": "@body('HTTP_2')",
                            "headers": {
                                "x-ms-blob-type": "BlockBlob",
                                "x-ms-version": "2020-10-02"
                            },
                            "method": "PUT",
                            "uri": "https://wkcnfs.blob.core.windows.net/nfs-disk-space/@{replace(outputs('Compose_2'), 'Sub/', 'Archive/')}"
                        },
                        "runAfter": {
                            "Compose_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    }
                },
                "foreach": "@body('Filter_array')",
                "runAfter": {
                    "Filter_array": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "authentication": {
                        "audience": "https://storage.azure.com",
                        "type": "ManagedServiceIdentity"
                    },
                    "headers": {
                        "x-ms-date": "@body('Convert_time_zone')",
                        "x-ms-version": "2020-10-02"
                    },
                    "method": "GET",
                    "uri": "https://wkcnfs.blob.core.windows.net/nfs-disk-space?restype=container&comp=list"
                },
                "runAfter": {
                    "Convert_time_zone": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@outputs('Compose')",
                    "schema": {
                        "properties": {
                            "?xml": {
                                "properties": {
                                    "@@encoding": {
                                        "type": "string"
                                    },
                                    "@@version": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "EnumerationResults": {
                                "properties": {
                                    "@@ContainerName": {
                                        "type": "string"
                                    },
                                    "@@ServiceEndpoint": {
                                        "type": "string"
                                    },
                                    "Blobs": {
                                        "properties": {
                                            "Blob": {
                                                "items": {
                                                    "properties": {
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "OrMetadata": {},
                                                        "Properties": {
                                                            "properties": {
                                                                "AccessTier": {
                                                                    "type": "string"
                                                                },
                                                                "AccessTierInferred": {
                                                                    "type": "string"
                                                                },
                                                                "BlobType": {
                                                                    "type": "string"
                                                                },
                                                                "Cache-Control": {},
                                                                "Content-CRC64": {},
                                                                "Content-Disposition": {},
                                                                "Content-Encoding": {},
                                                                "Content-Language": {},
                                                                "Content-Length": {},
                                                                "Content-MD5": {},
                                                                "Content-Type": {},
                                                                "Creation-Time": {},
                                                                "Etag": {},
                                                                "Last-Modified": {},
                                                                "LeaseState": {},
                                                                "LeaseStatus": {},
                                                                "ServerEncrypted": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "required": [
                                                        "Name",
                                                        "Properties",
                                                        "OrMetadata"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "NextMarker": {}
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "runs": 57
                    }
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {}
}